/*全局样式*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    text-decoration: none;
}

/*富文本*/
.content {
    WORD-WRAP:break-word;
    TABLE-LAYOUT:fixed;
    word-break:break-all;
}